page-login {
  .login_input {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 50px;
    border: none;
    border-radius: 25px;
    background-image: linear-gradient(to right, rgba(0, 132, 255, 0.15), rgba(0, 197, 255, 0.09));
  }
}
